asgiref==3.5.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
Django==4.0.4
django-ckeditor==6.4.0
django-currencies==0.10.1
django-js-asset==2.0.0
django-modeltranslation==0.18.2
django-mptt==0.13.4
idna==3.3
jsonfield==2.1.1
Pillow==9.1.0
python-gettext==4.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
